//RPS Game //

 body {
  font-family: inherit;
  font-size: 20px;
  text-align: center !important;
  background:;
  color: inherit;
  margin: 3em;
}

strong {
  text-decoration: underline;
}

#block-yui_3_17_2_1_1692747367577_87102 button {
 background: #cacaca;
  color:;
  border: none;
  padding: 10px 15px;
  font-size: 1.2em;
  font-family: inherit;
  font-weight: bold;
}
button:active {
  background: lime;
}

.scoreboard {
  width: 14em;
  margin: auto;
  border: 1px solid #cacaca;
}
.scoreboard h2 {
  border-bottom: 1px solid #cacaca;
  margin: 0;
  padding: 10px;
}
.scoreboard table {
  margin: 10px auto;
  width: 100%;
  border-collapse: collapse;
}
.scoreboard th, .scoreboard td {
  text-align: center !important;
}
.scoreboard td {
  font-size: 3em;
  padding: 0 20px;
}

#status {
  margin-top: 20px;
}
